* {
  margin: 0px;
  padding: 0px;
}

/* Css variables */
:root {
  
  --navbar-height: 10vh;
  --nav-content-height: 90vh;
}
/* header {
  background-image: url("/images/portfolio.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

body {
  
  background-color: rgb(18, 29, 130); 
  min-width: 100%;
  height: 100vh;
  
    background-image: url(/images/blockchain_bg.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;
opacity: 0.75;
  
  /* background-image: linear-gradient(to top right,  rgb(9, 39, 232), rgb(99, 154, 221)); */
  
}

.navbar {
  
  font-family: "Dosis", sans-serif;
  position: sticky;
  top: 0px;
  width: 98vw;
  font-size: 1.5rem;
  height: var(--navbar-height);
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
}
.nav {
  
   
    
    position: relative;
    left: 2vw;
    top: 3vh;


}
#img_left{
  width: 12%;
  filter: invert(100%);  /* coverts between white and black*/
  
}
#img_right{
  
  
  width: 12%;
  filter: invert(100%);  /* coverts between white and black*/
}
.navbar ul {
  
  display: flex;

}
.navbar li {
  right: 0px;
  list-style: none;
  padding: 1vh 2vw;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: rgb(139, 108, 151);
}

a:active {
  color: rgb(144, 49, 226);
  /* background-color: #fff; */
}


/* heading */
.heading, .contact_heading{
  /* width:100%; */
  /* right: 50vw; */
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding-top: 5vh;
  /* padding:   0; */
  color: white;
  /* text-shadow:  0 0 2rem #eff2f5; */
  

}
.contact_heading{
  position: relative;
  animation: contact 2s ease-in infinite normal none;
}

@keyframes contact{
  0%{
    /* text-shadow: none; */
    color: white;
  }
  20%{
    color: #bc72d3;
  }
  40%{
    color: rgb(112, 44, 200);
  }
  60%{
    color: blue;
  }
  80%{
    color: rgb(0, 0, 0);
  }
  100%{
    /* text-shadow:  0 0 2rem #eff2f5; */
    color: #928a8a;
  }
}
/* NAV_CONTENT */
.nav-content {
  height: var(--nav-content-height);
  position: relative;
  color: black;
  text-decoration: solid;
}
/* ABOUT */
#about{
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  border-right: 0.1rem solid rgb(0, 0, 0);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);

  width: 60%;
  /* height: 40%; */
  font-family: 'Playfair Display', serif;
  
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  
  font-size: 1.8rem;
  
  margin: 10vh auto;
}
#about .p1 {
  width: 90%;
  text-align: right;
  
  justify-self: right;
  color: rgb(255, 255, 255);
  padding-bottom: 6vh;
  padding-top: 0;
}

#about .p2 {
  width: 90%;
  
  justify-self: left;
  color: rgb(255, 255, 255);
  
}




#achievements,#timeline{
  margin: 2vh;
  color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  
  font-family: "PT Serif", serif;
  
  
  
  font-size: 1rem;
}


/* ACHIEVEMENTS*/
.box {
  
  background-color: #72a3ed;
  overflow: scroll;
  padding: 3vh 1vw;
  margin: 1vh 2vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 18vw;
  height: 32vh;
  border: 0.05rem solid rgb(29, 28, 28);
  border-radius: 1.2rem;
}
.box:hover{
  box-shadow: 0 0.2rem 0.5rem rgba(158, 161, 226, 0.5);
  transform: translate(-0.3rem);
}


#sponsor{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

/* MORE */
table{
  height: 80%;
  padding: 3vh 2vw;
  width: 55vw;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
table:hover{
  transform: translate(-0.3rem);
}
table thead{
  text-shadow:  0 0 0.5rem #d9d3e7;
  /* padding: 2vh; */
  font-size: 2rem;
}

table tbody tr {
  font-family: 'Poiret One', cursive;
  text-shadow:  0 0 0.5rem #000000;
  text-align: center;
  font-size: 1.2rem;
  
}
table tbody td{
  position: relative;
  text-shadow:  0 0 0.25rem #eff2f5;
  
  animation: tick 1s ease-in normal none;
  font-size: 2.5rem;
}
table tbody td:hover{
  text-shadow:  0 0 0.5rem #eff2f5;
  color: rgb(255, 255, 255);
  transform: translate(-0.3rem);
 
    transition: transform 150ms;
}
@keyframes tick {
  0%{
    
    opacity: 0;

  }
  
  100%{

    visibility: visible;
  }
}


/*TIMELINE */

.line {
  border-left: 0.2rem solid #000000;
  
}

.schedule {
  font-size: 1.2rem;
  position: relative;
  margin: 2vh 1vw;
  padding: 1.5rem;
  background: #5f7ec1;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  max-width: 30vw;
  max-height: 20vh;
  word-wrap: break-word;
  
}
#day{
  font-weight: 500;
  color: #10305f;
}

.info {
  display: flex;
  flex-direction: column;
  
}

/* CONNECT */

#contact {
  
  height:60% ;
  display: flex; 
  align-items: center;
  justify-content: center;
  
  
}
.socials img{
  /* width: 5rem; */
  height: 5rem;
  padding: 2vh 2vw;
}
.git{
  filter: invert(100%);
  border-radius: 100%;
  
}
.twitter{
  width: 7rem;
}




