/* Css reset */

* {
  margin: 0px;
  padding: 0px;
}

/* Css variables */
:root {
  
  --navbar-height: 10vh;
  --nav-content-height: 90vh;
}

body {
  
  background-color: rgb(18, 29, 130); 
  min-width: 100%;
  height: 100vh;
  
    background-image: url(/images/blockchain_bg.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;
opacity: 0.75;
  
  /* background-image: linear-gradient(to top right,  rgb(9, 39, 232), rgb(99, 154, 221)); */
  
}

.navbar {
  
  font-family: "Dosis", sans-serif;
  position: sticky;
  top: 0px;
  width: 98vw;
  font-size: 1.5rem;
  height: var(--navbar-height);
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
}
.nav {
  
   
    
    position: relative;
    left: 2vw;
    top: 3vh;


}
#img_left{
  width: 12%;
  filter: invert(100%);  /* coverts between white and black*/
  
}
#img_right{
  
  
  width: 12%;
  filter: invert(100%);  /* coverts between white and black*/
}
.navbar ul {
  
  display: flex;

}
.navbar li {
  right: 0px;
  list-style: none;
  padding: 1vh 2vw;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: rgb(139, 108, 151);
}

a:active {
  color: rgb(144, 49, 226);
  /* background-color: #fff; */
}
/* content */
.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

#hackathon {
  word-wrap: break-word;
  font-family: "Poppins", sans-serif;
  font-family: "Rampart One", cursive;
  height: var(--nav-content-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  font-size: 4.5rem;
  /* font-style: italic; */

  
}
#stack{
  position: relative;
  animation: stack 1s ease-in infinite normal none;
}
.bs{
  color: white;
  font-size: 2rem;
}

@keyframes stack {
  0% {
   
    color: rgb(241, 234, 240);
  }
  25% {
    
    color: rgb(227, 238, 186);
  }
  50% {
    
    color: rgb(187, 230, 184);
  }
  75% {
    
    color: rgb(146, 149, 232);
  }
  100% {
    
    
    color: rgb(233, 172, 230);
  }
}



